@import '../variables.less';

.promotions-container {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 20px;
  width: 100%;

  .checkbox-container {
    padding: 20px;
  }

  .upload-promotion-button {
    background-color: @yellow;
    color: @black;
    font-weight: bold;
  }

  .uploaded-promotions {
    margin-top: 15px;
  }

  .upload-promotion-button-container {
    bottom: 50px;
    position: fixed;
    right: 50px;
  }
}
