.restaurant-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 #40333333;
  padding: 0;
  width: 350px;
  z-index: 10;
}

.restaurant-card-container {
  display: flex;
  flex-flow: column;
  margin-top: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.restaurant-card-empty {
  color: #333333;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.restaurant-card-header-component {
  margin: 20px 20px 0px 20px;
}

.restaurant-card-header-component + .restaurant-card-header-component {
  margin-top: 0px;
}

.restaurant-card-title {
  font-family: 'AbeeZee';
  font-weight: bold;
  margin-bottom: 0px;
}

.restaurant-card-title-empty {
  color: red;
}
