/* Account details container */
.account-details-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 #40333333;
  color: #333;
  margin: 30px;
  overflow: auto;
  padding: 30px;
}

/* Input validation error text */
.ant-form-item-explain {
  color: red;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 5px;
  min-height: 0px;
}

/* Form items */
.ant-row .ant-form-item {
  margin: 5px 0;
}

/* Input labels */
.input-label {
  margin: 5px 0;
}

/* Save button */
.save-button {
  background-color: #ffc529;
  float: right;
  font-weight: bold;
  margin-top: 10px;
}
