.register-card-form {
  .ant-form-item.register-button-container {
    margin-top: 30px;
    margin-bottom: 0px;

    .register-button {
      border-radius: 20px;
      float: left;
    }
  }

  .back-button {
    margin-bottom: 10px;
  }

  .account-input-wrapper .ant-form-item-label {
    font-weight: bold;
    padding-bottom: 0px;
  }

  .register-account-title {
    margin-bottom: 0px;
  }
}
