@import '../variables.less';

.clear-all {
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
}

.dropdown-menu-container {
  align-items: center;
  height: fit-content;
  position: relative;
  width: 100%;
  z-index: 1000;

  &.dropdown-menu-container--home {
    padding-bottom: 20px;
  }

  &.dropdown-menu-container--shadow {
    box-shadow: 0px 4px 4px fade(@black, 20%);
  }
}
