@import '../variables.less';

.promotion-list-container {
  background-color: fade(@orange, 20%);
  height: 100%;
  padding: 15px;
  overflow: auto;
  scroll-behavior: smooth;
  text-align: center;
  width: 35vw;
}
