@import '../../variables.less';

/* Promotion name */
.promotion-name {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

/* Promotion text description */
.promotion-description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

/* Heart icon (liked) */
.promotion-details .heart-icon-filled {
  color: @red;
}

/* Heart icon */
.promotion-details .heart-icon-outlined {
  color: @gray;
}

/* Heart icon hover */
.promotion-details .heart-icon-outlined:hover {
  color: @red;
}

/* Delete icon */
.promotion-details .trash-icon {
  color: @gray;
}

/* Delete icon hover */
.promotion-details .trash-icon:hover {
  color: @red;
}
