/* Promotion text description */
.promotion-description {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
