@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Import default Ant Design styles
@import '~antd/lib/style/themes/default';
@import '~antd/dist/antd';

// Import modifications to Ant Design theme
@import './theme';
@import './variables.less';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

:root {
  /* COLORS */
  --black: #333333;
  --red: #ef2323;
}

#root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.ant-btn.button {
  background-color: @yellow;
  font-weight: bold;
}

.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .spinner-icon {
    font-size: 4em;
  }
}
