@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Import default Ant Design styles
@import '~antd/lib/style/themes/default';
@import '~antd/dist/antd';

// Import modifications to Ant Design theme
@import './theme';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

:root {
  /* COLORS */
  --black: #333333;
  --red: #ef2323;
}

#root {
  height: 100%;
  width: 100%;
}

.ant-btn.button {
  background-color: #ffc529;
  float: right;
  font-weight: bold;
  margin-top: 10;
}

.inputLabel {
  margin: 5px 0;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}
